{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Backyard nurseries</title>{% endblock %}

{% block body %}

    <section class="backyard-nurseries secondary-pages-top-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>BACKYARD <br />NURSERIES</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>Over <span>30</span> families in Armenia participating <br />
                        Over <span>40,000</span> trees harvested <br />
                        An average family income increase of <span>30%</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="backyard-nurseries-main-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <p>
                            Sustaining communities is at the heart of Armenia Tree Project’s signature
                            tree planting program. Whether greening a public site or improving the quality of
                            life for an entire village, ATP’s carefully designed approach interconnects the education,
                            awareness, and economic empowerment that is vital to environmental sustainability and healthy living.
                            <br> <br>
                            Armenia Tree Project systematically revitalizes communities within
                            three years, taking into consideration all aspects of the land and its people.
                        </p>
                        <button class="sponsor-backyard-nursery-btn">Sponsor a Backyard Nursery</button>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="support-families">
                            <div class="title-and-play-button-wrapper">
                                <h3>How Armenian Villagers Are Using Trees <br />To Support Their Families</h3>
                                <a  data-toggle="modal" data-target="#how_planting_works"><img class="play-button" src="./img/play_btn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="modal fade" id="how_planting_works" tabindex="-1" role="dialog" aria-labelledby="how_planting_works"
                             aria-hidden="true">
                            <div class="modal-dialogg">
                                <div class="modal-contentt">
                                    <div class="modal-body">
                                        <button style="color: #ffffff; opacity: 1;" type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <div class="video-container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/IDHxpsufSTA" frameborder="0"  allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <img src="./img/backyard-photo-one.jpg" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>The approximate average income for a family in these remote villages is less than $200 per month, according to interviews
                            conducted by ATP. Often, families live off the produce of their land,
                            or receive a modest pension or children's allowance from the government.</p>
                        <p>The BYN program allows them to almost double their income, giving them more financial stability and,
                            in many cases, helping them to avoid leaving the country for work.</p>
                    </div>
                </div>
                <div class="row backyard-nurseries-info-panel-wrapper">
                    <div class="col-md-6 col-xs-12">
                        <p>ATP created the BYN Program as a way to increase their overall tree yield and offer remote villagers economic opportunity.</p>
                        <p>Backyard Nursery Sponsors will receive reports from the family throughout the year with updates on the progress and results of their support.</p>
                    </div>
                    <div class="col-md-6 col-xs-12 backyard-nurseries-info-panel">
                        <h5>Sponsorship Level</h5>
                        <p>$1,000/yr for two years</p>
                        <h5>Number Of Seedlings Per Nursery</h5>
                        <p>1,200-1,500</p>
                        <h5>Nursery Time Period</h5>
                        <p>2-3 years</p>
                        <h5>Expected Tree Yield</h5>
                        <p>85%</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="acknowledgment-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <img src="./img/backyard-photo-two.jpg" alt="">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <p><em>"BYN rewards family farmers for good work, when we pay for trees that have been well cared for,"
                                explains ATP Operations Manager Arthur Harutyunyan. "The program received an Energy Globe Award at the
                                European Parliament because of this program's
                                positive impact on the three aspects of sustainability: <span>people, profit & planet.</span>”</em></p>
                    </div>
                </div>
            </div>
        </section>


        <section class="community-last-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>FEATURED CONTENT</h4>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="first-content">
                            <h3>How to Clean Up Armenia in <br>One Day?</h3>
                            <p>27 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="second-content">
                            <h3>ATP Pays Tribute to the Inspirational Life and Grassroots Work of Fr. Dajad Davidian</h3>
                            <p>20 JUL 2018</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="third-content">
                            <h3>Call for Annual Tree Planting in Goris</h3>
                            <p>18 JUL 2018</p>
                            <button href="#"> Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>




    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

