{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - News</title>{% endblock %}
{% block body %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="menu-center">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a id="our_work" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Our Work</a>
                        <ul class="dropdown-menu" aria-labelledby="our_work">
                            <li>
                                <a href="#">Tree Propagation</a>
                            </li>
                            <li>
                                <a href="community.html">Community Planting</a>
                            </li>
                            <li>
                                <a href="#">Forestation</a>
                            </li>
                            <li>
                                <a href="backyard-nurseries.html">Economic Empowerment</a>
                            </li>
                            <li>
                                <a href="#">Education & Awareness</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="#">Where We Are</a>
                    </li>
                    <li class="dropdown">
                        <a id="getInvolved" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Get Involved</a>
                        <ul class="dropdown-menu" aria-labelledby="getInvolved">
                            <li>
                                <a href="#">Donate</a>
                            </li>
                            <li>
                                <a href="#">Volunteer</a>
                            </li>
                            <li>
                                <a href="#">Subscribe</a>
                            </li>
                            <li>
                                <a href="#">Tour</a>
                            </li>
                            <li>
                                <a href="#">Plant</a>
                            </li>
                            <li>
                                <a href="#">Join/Attend</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="impact.html">Our Impact</a>
                    </li>
                    <li class="dropdown">
                        <a id="kids_family" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Kids & Family</a>
                        <ul class="dropdown-menu" aria-labelledby="kids_family">
                            <li>
                                <a href="#">Building Bridges</a>
                            </li>
                            <li>
                                <a href="#">Summer Camp in Armenia</a>
                            </li>
                            <li>
                                <a href="#">Tchalo</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" data-target=".navbar-collapse" href="news.html">News</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left right">
                    <li class="search-button-wrapper">
                        <form>
                            <input class="search-input" type="text" placeholder="Search.." name="search">
                            <button class="search-button"></button>
                        </form>
                    </li>
                    <li class="button-wrapper">
                        <button class="donate-btn"> Donate</button>
                    </li>
                    <li class="dropdown language-selector-dropdown">
                        <a id="language_selector" class="page-scroll" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">EN</a>
                        <img class="carret-icon" src="./img/arrow-right.svg" alt="">
                        <ul class="dropdown-menu" aria-labelledby="language_selector">
                            <li>
                                <a href="#">ՀԱՅ</a>
                            </li>
                            <li>
                                <a href="#">РУС</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!--New Listing-->

    <section class="news-main-page">
        <div class="container">
            <h1>NEWS</h1>
            <div class="row">
                <div class="col-lg-6 col-xs-12 news-related-photo-wrapper">
                    <img src="./img/PHOTO4.jpg" alt="news-photo">
                    <p class="news-date">27 JUL 2018</p>
                </div>
                <div class="col-lg-6 col-xs-12 news-related-short-description-wrapper">
                    <h5>How to Clean Up Armenia in One Day?</h5>
                    <p>September 15, 2018 is declared as World Cleanup Day. One-hundred-fifty countries have already joined the movement:
                        USA, Canada, Brazil, Argentina, Russia, France, Spain, Germany, Ireland, Italy, Belgium, Jordan, Iran, Kazakhstan,
                        Azerbaijan, Vietnam, Indonesia, Japan, Kenya, Tanzania, Mozambique, South Africa, Australia, and others.
                        This year Armenia will take part in the initiative!
                    </p>
                    <a href="single-news.html">READ MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 news-related-photo-wrapper">
                    <img src="./img/PHOTO4.jpg" alt="news-photo">
                    <p class="news-date">27 JUL 2018</p>
                </div>
                <div class="col-lg-6 col-xs-12 news-related-short-description-wrapper">
                    <h5>How to Clean Up Armenia in One Day?</h5>
                    <p>September 15, 2018 is declared as World Cleanup Day. One-hundred-fifty countries have already joined the movement:
                        USA, Canada, Brazil, Argentina, Russia, France, Spain, Germany, Ireland, Italy, Belgium, Jordan, Iran, Kazakhstan,
                        Azerbaijan, Vietnam, Indonesia, Japan, Kenya, Tanzania, Mozambique, South Africa, Australia, and others.
                        This year Armenia will take part in the initiative!
                    </p>
                    <a href="single-news.html">READ MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 news-related-photo-wrapper">
                    <img src="./img/PHOTO4.jpg" alt="news-photo">
                    <p class="news-date">27 JUL 2018</p>
                </div>
                <div class="col-lg-6 col-xs-12 news-related-short-description-wrapper">
                    <h5>How to Clean Up Armenia in One Day?</h5>
                    <p>September 15, 2018 is declared as World Cleanup Day. One-hundred-fifty countries have already joined the movement:
                        USA, Canada, Brazil, Argentina, Russia, France, Spain, Germany, Ireland, Italy, Belgium, Jordan, Iran, Kazakhstan,
                        Azerbaijan, Vietnam, Indonesia, Japan, Kenya, Tanzania, Mozambique, South Africa, Australia, and others.
                        This year Armenia will take part in the initiative!
                    </p>
                    <a href="single-news.html">READ MORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-xs-12 news-related-photo-wrapper">
                    <img src="./img/PHOTO4.jpg" alt="news-photo">
                    <p class="news-date">27 JUL 2018</p>
                </div>
                <div class="col-lg-6 col-xs-12 news-related-short-description-wrapper">
                    <h5>How to Clean Up Armenia in One Day?</h5>
                    <p>September 15, 2018 is declared as World Cleanup Day. One-hundred-fifty countries have already joined the movement:
                        USA, Canada, Brazil, Argentina, Russia, France, Spain, Germany, Ireland, Italy, Belgium, Jordan, Iran, Kazakhstan,
                        Azerbaijan, Vietnam, Indonesia, Japan, Kenya, Tanzania, Mozambique, South Africa, Australia, and others.
                        This year Armenia will take part in the initiative!
                    </p>
                    <a href="single-news.html">READ MORE</a>
                </div>
            </div>
        </div>
    </section>


    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p><span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA
                        <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian
                        Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

