{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Backyard nurseries</title>{% endblock %}

{% block body %}

    <section class="our-team secondary-pages-top-content">
        <div class="container">
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    <h1>OUR TEAM<br /> AROUND THE<br /> WORLD</h1>
                </div>
                <div class="col-sm-6 cover-text">
                    <p>ATP employs <span>88 full-time</span> staff in Armenia <br />
                        and the US, and <span>150 seasonal workers</span> each<br /> year. </p>
                </div>
            </div>
        </div>
    </section>

    <div class="our-team-main-content-wrapper">

        <section class="community-second">
            <div class="container">
                <div class="row center-aligned-row">
                    <div class="col-md-6 col-xs-12">
                        <h5>Carolyn Mugar <span>FOUNDER</span></h5>
                        <h5>Anthony Barsamian</h5>
                        <h5>Tom Garabedian</h5>
                        <h5>Julia Mirak Kew</h5>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <img src="./img/our-team-photo.png" srcset="./img/our-team-photo@2x.png 2x" alt="">
                    </div>
                </div>
            </div>
        </section>


        <section class="boston-team-wrapper team-images-wrapper">
            <div class="container">
                <h3>ATP BOSTON, MASSACHUSETTS</h3>
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/papelian_jeanmarie_sm.png" srcset="./img/papelian_jeanmarie_sm@2x.png 2x" alt="">
                        <h4>Jeanmarie Papelian</h4>
                        <p>EXECUTIVE DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/sohigian_jason_sm.png" srcset="./img/sohigian_jason_sm@2x.png 2x" alt="">
                        <h4>Jason Sohigian</h4>
                        <p>DEPUTY DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/korin_hillel_sm.png" srcset="./img/korin_hillel_sm@2x.png 2x" alt="">
                        <h4>Hillel Korin</h4>
                        <p>DIRECTOR OF DEVELOPMENT</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="southern-california-team-wrapper team-images-wrapper">
            <div class="container">
                <h3>ATP SOUTHERN CALIFORNIA, USA</h3>
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/papelian_jeanmarie_sm.png" srcset="./img/papelian_jeanmarie_sm@2x.png 2x" alt="">
                        <h4>Jeanmarie Papelian</h4>
                        <p>EXECUTIVE DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/sohigian_jason_sm.png" srcset="./img/sohigian_jason_sm@2x.png 2x" alt="">
                        <h4>Jason Sohigian</h4>
                        <p>DEPUTY DIRECTOR</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="yerevan-team-wrapper team-images-wrapper">
            <div class="container">
                <h3>ATP YEREVAN, ARMENIA</h3>
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/papelian_jeanmarie_sm.png" srcset="./img/papelian_jeanmarie_sm@2x.png 2x" alt="">
                        <h4>Jeanmarie Papelian</h4>
                        <p>EXECUTIVE DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/sohigian_jason_sm.png" srcset="./img/sohigian_jason_sm@2x.png 2x" alt="">
                        <h4>Jason Sohigian</h4>
                        <p>DEPUTY DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/sohigian_jason_sm.png" srcset="./img/sohigian_jason_sm@2x.png 2x" alt="">
                        <h4>Jason Sohigian</h4>
                        <p>DEPUTY DIRECTOR</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/papelian_jeanmarie_sm.png" srcset="./img/papelian_jeanmarie_sm@2x.png 2x" alt="">
                        <h4>Jeanmarie Papelian</h4>
                        <p>EXECUTIVE DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/sohigian_jason_sm.png" srcset="./img/sohigian_jason_sm@2x.png 2x" alt="">
                        <h4>Jason Sohigian</h4>
                        <p>DEPUTY DIRECTOR</p>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <img src="./img/sohigian_jason_sm.png" srcset="./img/sohigian_jason_sm@2x.png 2x" alt="">
                        <h4>Jason Sohigian</h4>
                        <p>DEPUTY DIRECTOR</p>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <section class="nurseries-team-wrapper odd-section">
        <div class="container">
            <div class="row">
                <h3>KARIN NURSERY</h3>
                <div class="col-sm-4 col-xs-12">
                    <h4>Svetik Tarjumanyan</h4>
                    <p>Ashot Avagyan</p>
                    <p>Hratchik Budaghyan</p>
                    <p>Susanna Dallakyan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Rodina Ghazaryan</p>
                    <p>Venera Hovhannisyan</p>
                    <p>Nune Maysuryan</p>
                    <p>Artak Mkhitaryan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Feleks Sarkisyan</p>
                    <p>Karen Tarjumanyan</p>
                    <p>Arkadi Safaryan</p>
                </div>
            </div>
        </div>
    </section>

    <section class="nurseries-team-wrapper even-section">
        <div class="container">
            <div class="row">
                <h3>KHACHPAR NURSERY</h3>
                <div class="col-sm-4 col-xs-12">
                    <h4>Ararat Aleksanyan</h4>
                    <p>Grigor Antonyan</p>
                    <p>Lilia Balaiants</p>
                    <p>Garik Dadyan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Martiros Melikyan</p>
                    <p>Arshak Mirzoyan</p>
                    <p>Varsik Mkrtchyan</p>
                    <p>Vladimir Osipyan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Yurik Stepanyan</p>
                    <p>Ziravard Stepanyan</p>
                </div>
            </div>
        </div>
    </section>

    <section class="nurseries-team-wrapper odd-section">
        <div class="container">
            <div class="row">
                <h3>MIRAK NURSERY</h3>
                <div class="col-sm-4 col-xs-12">
                    <h4>Edvard Edaryan</h4>
                    <p>Gnel Chibusov</p>
                    <p>Rima Danielyan</p>
                    <p>Siranush Harutyunyan</p>
                    <p>Svetlana Harutyunyan</p>
                    <p>Aren Khachatryan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Hratchuhi Khachatryan</p>
                    <p>Lusvard Kharatyan</p>
                    <p>Anzhela Makiyan</p>
                    <p>Ivan Makiyan</p>
                    <p>Samvel Postolakyan</p>
                    <p>Sargis Sadaryan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Hratchik Soghoyan</p>
                    <p>Seyran Temrazyan</p>
                    <p>Valentina Torosyan</p>
                    <p>Stepan Hovhannisyan</p>
                </div>
            </div>
        </div>
    </section>

    <section class="nurseries-team-wrapper even-section">
        <div class="container">
            <div class="row">
                <h3>CHIVA NURSERY</h3>
                <div class="col-sm-4 col-xs-12">
                    <h4>Garnik Sargsyan</h4>
                    <p>Yegshishe Ohanyan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Suren Safaryan</p>
                    <p>Andranik Saghatelyan</p>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <p>Arevshat Tadevosyan</p>
                    <p>Stepan Voskanyan</p>
                </div>
            </div>
        </div>
    </section>



    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2018 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a href="#">
                        <img src="./img/facebook-logo.svg" alt="linkedin">
                    </a>
                    <a href="#">
                        <img src="./img/twitter-logo.svg" alt="facebook">
                    </a>
                    <a href="#">
                        <img src="./img/instagram-logo.svg" alt="twitter">
                    </a>
                    <a href="#">
                        <img src="./img/youtube.svg" alt="twitter">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

