{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Videos</title>{% endblock %}

{% block body %}

    <h1>Videos</h1>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Lightbox sliider-->
    <script src="{{ asset('js/lightbox.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}