<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content=""/>
        <meta property="og:description" content="" />
        <meta property="og:title" content=""/>
        <meta name="author" content="">
        {% block title %}<title>Armenia Tree Project</title>{% endblock %}
        {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <!-- Slick CSS -->
        <link href="{{ asset('css/slick.css') }}" rel="stylesheet">
        <!-- Calendar -->
        <link rel="stylesheet" href="{{ asset('css/pignose.calendar.css') }}">
        <!--&lt;!&ndash;Favicon&ndash;&gt;-->
        <link rel="shortcut icon" type="image/png" href="#" />
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {#{% block javascripts %}{% endblock %}#}
    </body>
</html>